<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="SLACK_WEBHOOK_URI" source="logging.slack.webhook-uri"/>

    <springProfile name="console-logging">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] : %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="file-sql-logging">
        <appender name="local-file-logger" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/logs/connectable-sql.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/logs/dateLog/%d{yyyy_MM_dd}_%i.connectable-sql.log
                </fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <charset>utf8</charset>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
            </encoder>
        </appender>

        <logger name="org.hibernate.SQL" level="TRACE">
            <appender-ref ref="local-file-logger"/>
        </logger>
        <logger name="org.hibernate.type.descriptor" level="TRACE">
            <appender-ref ref="local-file-logger"/>
        </logger>
    </springProfile>

    <springProfile name="file-info-logging">
        <appender name="INFO_FILE_POLICY" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
            <file>${LOG_PATH}/logs/connectable-info.log</file>
            <encoder>
                <charset>utf8</charset>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/logs/dateLog/%d{yyyy_MM_dd}_%i.connectable-info.log
                </fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <springProfile name="file-error-logging">
        <appender name="ERROR_FILE_POLICY" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <file>${LOG_PATH}/logs/connectable-error.log</file>
            <encoder>
                <charset>utf8</charset>
                <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH}/logs/dateLog/%d{yyyy_MM_dd}_%i.connectable-error.log
                </fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>7</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <springProfile name="slack-dev-error-logging">
        <springProperty name="devErrorSlackUri" source="logging.slack.webhook-uri-dev-error" />
        <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
            <webhookUri>${devErrorSlackUri}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[DEV] %-4relative [%thread] %-5level %class - %msg%n</pattern>
            </layout>
            <colorCoding>true</colorCoding>
        </appender>
        <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="SLACK"/>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
        </appender>
    </springProfile>

    <springProfile name="slack-paid-logging">
        <springProperty name="devPaidSlackUri" source="logging.slack.webhook-uri-dev-paid" />
        <appender name="DEV_PAID_USER_SLACK_NOTI" class="com.github.maricn.logback.SlackAppender">
            <webhookUri>${devPaidSlackUri}</webhookUri>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>[ALARM]%d{yyyy-MM-dd HH:mm:ss.SSS} : %msg%n</pattern>
            </layout>
        </appender>

        <appender name="DEV_ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="DEV_PAID_USER_SLACK_NOTI"/>
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>INFO</level>
            </filter>
        </appender>
    </springProfile>

    <root level="INFO">
        <springProfile name="console-logging">
            <appender-ref ref="STDOUT"/>
        </springProfile>

        <springProfile name="file-info-logging">
            <appender-ref ref="INFO_FILE_POLICY"/>
        </springProfile>

        <springProfile name="file-error-logging">
            <appender-ref ref="ERROR_FILE_POLICY"/>
        </springProfile>

        <springProfile name="slack-dev-error-logging">
            <appender-ref ref="ASYNC_SLACK"/>
        </springProfile>
    </root>

    <logger name="com.backend.connectable.order.ui.OrderController" level="INFO">
        <springProfile name="slack-paid-logging">
            <appender-ref ref="DEV_ASYNC_SLACK"/>
        </springProfile>
    </logger>

</configuration>
